@import "gritter";

.index-iconedit {
	color: goldenrod;
	font-size: 1.2em;

}
.index-iconedit:hover {
	color: gold;
	font-size: 1.5em;
 

}
.index-icondel {
	color: darkred;
	font-size: 1.2em;
}
.index-icondel:hover {
	color: red;
	font-size: 1.5em;
	 
}

 
 